asgiref==3.2.3
certifi==2018.1.18
chardet==3.0.4
colorama==0.4.3
dj-database-url==0.5.0
Django==3.0.3
djangorestframework==3.11.0
django-widget-tweaks==1.4.5
gunicorn==20.0.4
httpie==1.0.3
idna==2.6
psycopg2==2.8.4
Pygments==2.3.1
python-decouple==3.3
pytz==2017.3
requests==2.21.0
sqlparse==0.3.0
urllib3==1.26.5
whitenoise==5.0.1