{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Django E-learning</title>
  <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">E-learning portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if request.user.is_authenticated %}
          <p>Logged in as <a class="nav-link" href="#">{{ user.username }}</a>
            (<a href="{% url 'auth:logout' %}">Logout</a>)</p>
          {% else %}
          <p><a href="{% url 'auth:login' %}">Login</a></p>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <ol class="breadcrumb my-4">
    {% block breadcrumb %}
    {% endblock %}
  </ol>
  {% block content %}
  {% endblock %}
</div>
{% endblock body %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>